<div class="rightInnerContainer">
  <form action="/" method="post" class="row">
    <div class="three">
      <input type="text" name="txtNumber" id="txtNumber" value="5" />
    </div>
    <div class="three">
      <label class="row"><input name="type" type="radio" value="paragraphs" /> paragraphs</label>
      <label class="row"><input name="type" type="radio" value="words" /> words</label>
      <label class="row"><input name="type" type="radio" value="bytes" /> bytes</label>
      <label class="row"><input name="type" type="radio" value="list" /> list</label>
    </div>
    <div class="three">
        <label>
          <input type="checkbox" value="true" name="checkbox" />
          Start with 'Lorem ipsum dolor sit amet...'
        </label> <br/>
        <button type="submit" class="btn">Generate Lorem Ipsum</button>
    </div>

  </form>
</div>
